@font-face {
    font-family: 'Combine';
    src: url('Combine.eot');
    src: url('Combine.eot?#iefix') format('embedded-opentype'),
        url('Combine.woff2') format('woff2'),
        url('Combine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

